@model IEnumerable<RicardoTest2.Models.RelationshipType>

@{
    ViewBag.Title = "RelationshipTypes";
}

<h2>RelationshipTypes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatetedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatetedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RelationshipTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RelationshipTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RelationshipTypeId })
        </td>
    </tr>
}

</table>
