@model RicardoTest2.Models.User

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CedNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CedNumber)
            @Html.ValidationMessageFor(model => model.CedNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FName)
            @Html.ValidationMessageFor(model => model.FName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LName1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LName1)
            @Html.ValidationMessageFor(model => model.LName1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LName2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LName2)
            @Html.ValidationMessageFor(model => model.LName2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GeneratedCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GeneratedCode)
            @Html.ValidationMessageFor(model => model.GeneratedCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dob)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dob)
            @Html.ValidationMessageFor(model => model.Dob)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address1)
            @Html.ValidationMessageFor(model => model.Address1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address2)
            @Html.ValidationMessageFor(model => model.Address2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cellphone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cellphone)
            @Html.ValidationMessageFor(model => model.Cellphone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatetedAt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatetedAt)
            @Html.ValidationMessageFor(model => model.CreatetedAt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdatedAt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdatedAt)
            @Html.ValidationMessageFor(model => model.UpdatedAt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enabled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Enabled)
            @Html.ValidationMessageFor(model => model.Enabled)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cashback)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cashback)
            @Html.ValidationMessageFor(model => model.Cashback)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RolId, "UserRol")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RolId", String.Empty)
            @Html.ValidationMessageFor(model => model.RolId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
