@model RicardoTest2.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Transaction</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BillBarCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BillBarCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatetedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatetedAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Store.PhoneNumber1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Store.PhoneNumber1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalesMan.FName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalesMan.FName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer.FName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.FName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
