@model RicardoTest2.Models.Transaction

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Transaction</legend>

        @Html.HiddenFor(model => model.TransactionId)

        <div class="editor-label">
            @Html.LabelFor(model => model.BillBarCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BillBarCode)
            @Html.ValidationMessageFor(model => model.BillBarCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatetedAt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatetedAt)
            @Html.ValidationMessageFor(model => model.CreatetedAt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdatedAt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdatedAt)
            @Html.ValidationMessageFor(model => model.UpdatedAt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StoreId, "Store")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StoreId", String.Empty)
            @Html.ValidationMessageFor(model => model.StoreId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SalesManId, "SalesMan")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SalesManId", String.Empty)
            @Html.ValidationMessageFor(model => model.SalesManId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId, "Customer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerId", String.Empty)
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
