@model IEnumerable<RicardoTest2.Models.Relationship>

@{
    ViewBag.Title = "Relationships";
}

<h2>Relationships</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatetedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User1.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User2.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationshipType.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatetedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User1.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User2.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelationshipType.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RelationshipId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RelationshipId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RelationshipId })
        </td>
    </tr>
}

</table>
