@model RicardoTest2.Models.Store

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Store</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FaxNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FaxNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CityId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatetedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatetedAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.CompanyName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
